@import '../../containers/Navigation/index.module.scss';
@import '../NavigationSection/index.module.scss';
@import '../NavigationItem/index.module.scss';

.side-nav {
  @extend %navigation;

  &__open {
    @extend %navigation__open;
  }

  &--fixed {
    @extend %navigation--fixed;

    height: 100vh;
    top: calc(var(--nav-height) * 2);
    touch-action: none;
    width: 100%;
  }

  &--fixed &__open {
    top: 1.8rem;
  }

  .side-nav-section {
    @extend %navigation-section;

    padding: 0 var(--space-20);

    &__title {
      @extend %navigation-section__pure-title;

      margin-left: 0;

      b {
        color: var(--color-brand-primary);
        font-weight: var(--font-weight-semibold);
      }
    }

    .side-nav-item {
      @extend %navigation-item;

      padding: calc(var(--space-20) / 2) 0 calc(var(--space-20) / 2)
        var(--space-12);

      &::before {
        box-shadow: inset 0 0 0 2px var(--color-border-accent);
        line-height: 2.6rem;
        top: 1rem;
      }

      &::after {
        content: none;
      }

      &:hover::before {
        box-shadow: inset 0 0 0 2.4rem var(--color-border-accent) !important;
      }

      &--active {
        color: var(--color-text-accent);
        font-weight: 600;

        &::before {
          box-shadow: inset 0 0 0 2.4rem var(--color-border-accent);
        }
      }
    }
  }
}
