.download-page__navigation {
  color: var(--color-text-primary);
  display: flex;
  font-size: var(--font-size-overline);
  justify-content: space-between;
  letter-spacing: var(--space-02);
  line-height: var(--line-height-overline);
  text-transform: uppercase;
  width: 100%;
}

.download-page__navigation--active {
  color: var(--brand4);
}

.download-page__navigation--title {
  color: var(--color-text-primary);
  font-size: var(--font-size-display3);
  line-height: var(--line-height-display3);
  text-transform: capitalize;
}

.download-page__navigation--npm {
  text-align: right;
  text-transform: lowercase;
  width: 100%;
}

@media (max-width: 500px) {
  .download-page__navigation--title {
    font-size: var(--font-size-display5);
    line-height: var(--line-height-display5);
  }
}
