.random-contributor {
  align-items: center;
  background-color: var(--color-fill-banner);
  border-radius: 5px;
  color: var(--color-text-primary);
  display: flex;
  margin: 0 auto;
  max-width: 360px;
  padding: var(--space-12);

  @media (max-width: 800px) {
    max-width: 80vw;
  }

  &__avatar {
    margin: 5px 10px 0 5px;

    img {
      border-radius: 5px;
      max-width: 40px;
    }
  }
}
