.random-contributor {
  display: flex;
  align-items: center;
  max-width: 360px;
  margin: 0 auto;
  padding: 5px;
  background-color: var(--color-fill-app);
  border: 1px solid var(--color-border-secondary);

  &__avatar {
    margin: 5px 10px 0 5px;

    img {
      max-width: 50px;
    }
  }
}
