@use '../../../styles/typography.scss';

.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--space-96) 0 var(--space-128) 0;
  text-align: center;

  h1,
  p {
    margin: 0;
  }

  h1 {
    max-width: 840px;

    @media (max-width: 900px) {
      font-size: var(--font-size-display2);
      line-height: 48px;
      max-width: 90vw;
    }
  }

  .sub-title {
    @extend .t-subheading;

    color: var(--color-text-secondary);
    font-weight: var(--font-weight-light);
    margin: var(--space-32) 0 var(--space-32) 0;
    max-width: 780px;

    @media (max-width: 900px) {
      max-width: 90vw;
    }
  }

  .buttons-container {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .download-lts-container {
      align-items: center;
      display: flex;
      flex-direction: column;
      position: relative;

      & > p {
        margin-top: var(--space-08);
      }

      @media (max-width: 640px) {
        margin-bottom: var(--space-20);
      }
    }
  }
}

.download-button {
  align-items: center;
  background-color: var(--brand6);
  border-radius: 5rem;
  box-sizing: border-box;
  color: var(--black0);
  display: flex;
  flex-direction: column;
  font-weight: var(--font-weight-semibold);
  height: 5.6rem;
  justify-content: center;
  margin: 0 var(--space-16);
  padding: 1.4rem 0;
  text-decoration: none;
  transition: background-color 0.2s ease-out;
  width: 20rem;

  span {
    color: var(--black4);
    font-size: var(--font-size-body3);
  }

  &:hover {
    background-color: var(--brand7);
    color: var(--black0);
  }

  &:focus {
    @extend .download-button;
  }

  &__inverse {
    @extend .download-button;

    background-color: transparent;
    border: var(--brand6) var(--space-02) solid;
    transition: background-color 0.2s ease-out;

    &:hover {
      background-color: var(--brand7);
      border: var(--brand7) var(--space-02) solid;
    }
  }
}

:global(.dark) {
  .download-button {
    &__inverse {
      color: var(--black0);
    }
  }
}

:global(.light) {
  .download-button {
    &__inverse {
      color: var(--brand6);

      &:hover {
        color: var(--black0);
      }
    }
  }
}
