.main-container {
  max-width: 960px;
  margin: auto;
  .bg {
    position: absolute;
    width: 100%;
		overflow: hidden;
		height: auto;
    top: 110vh;
    left: 0;
		bottom: 0;
    background-color: var(--color-fill-canvas);
    background-repeat: no-repeat; 
    z-index: -10;

    &:before, &:after {
      position: absolute;
      content: '';
      display: block;
			opacity: 0.15;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 300 300' fill='%23C5E5B4' %3E %3Cpolygon points='300,150 225,280 75,280 0,150 75,20 225,20' /%3E%3C/svg%3E");
    }

    &:before {
      transform: rotateZ(12deg);
      width: 60vw;
      height: 60vw;
      right: -20%;
      top: 35%;
    }

    &:after {
      transform: rotateZ(18deg);
      width: 50vw;
      height: 50vw;
      left: -20%;
      top: 63%;
    }
  }
}
