.prism-code {
  padding: 0 !important;

  .shell-box-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    span,
    button {
      align-items: center;
      display: inherit;
      font-size: var(--font-size-code);
      height: 23px;
      justify-content: center;
      width: 86px;
    }

    span {
      background-color: var(--black3);
      border-radius: 0 0 0.3rem 0.3rem;
      color: var(--black9);
    }

    button {
      border-width: 0;
      border-radius: 0 0.3rem 0.3rem 0.3rem;
      background-color: var(--brand8);
      i {
        padding: 0;
      }
    }
  }

  .token-line {
    margin: 0 1em !important;
  }
}
