.pre {
  padding: 0 !important;

  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    span,
    button {
      align-items: center;
      display: inherit;
      font-size: var(--font-size-code);
      height: 23px;
      justify-content: center;
      width: 86px;
    }

    span {
      background-color: var(--black4);
      border-radius: 0 0 4px 0;
      color: var(--black9);
    }

    button {
      background-color: var(--black9);
      border-radius: 0 0 0 4px;
      border-width: 0;
      color: white;
      i {
        padding: 0;
      }
    }
  }

  .content {
    margin: 1em;
  }
}
