.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  height: var(--space-48);
  font-weight: var(--font-weight-semibold);
  padding: 0 var(--space-16);
  margin: 0;
	border-radius: var(--space-04);
  text-decoration: none;

  &[disabled] {
    pointer-events: none;
  }

  &.strict-width {
		width: var(--space-240);
		padding: 0;
  }

  &.rounded {
		border-radius: var(--space-48);
  }

  &.primary {
    background: var(--color-fill-action);
    color: var(--black0);
  }

  &.secondary {
    border: var(--color-fill-action) var(--space-02) solid;
    color: var(--color-fill-action);
  }

  &.disabled {
    background: var(--black5);
    color: var(--black2);
  }
}
