.navigation,
%navigation {
  background-color: var(--color-fill-side-nav);
  box-sizing: border-box;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  height: calc(100vh - var(--nav-height));
  max-width: 36rem;
  overflow: auto;
  overflow-x: hidden;
  padding: 0 var(--space-20);
  position: sticky;
  top: var(--nav-height);
  width: 100%;
  z-index: 998;

  @media (max-width: 900px) {
    height: auto;
    left: 0;
    max-height: 42px;
    max-width: unset;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: calc(var(--nav-height) * 2);

    > :last-child {
      padding-bottom: 2.4rem;
    }

    &::before {
      background-color: var(--color-fill-side-nav);
      content: '';
      height: 60px;
      margin-bottom: -92px;
      position: fixed;
      top: var(--nav-height);
      width: 110%;
      z-index: 100;
    }
  }

  &__open,
  &%__open {
    background: var(--color-text-primary);
    background-clip: content-box;
    border: none;
    color: var(--color-text-primary);
    display: none;
    font-weight: var(--font-weight-light);
    height: calc(24px + 3px);
    line-height: 0;
    margin-left: -0.8rem;
    outline: none;
    overflow: visible;
    padding: 12px 0;
    position: sticky;
    text-indent: 3.2rem;
    top: 0.8rem;
    transition: color 0.28s, background-color 0.28s;
    user-select: none;
    width: 20px;
    z-index: 9999;

    @media (max-width: 900px) {
      display: unset;
    }

    &::before {
      background-color: var(--color-text-primary);
      content: '';
      height: 3px;
      left: 0;
      position: absolute;
      top: calc(50% - 1.5px);
      transform: translateY(-250%);
      transition: transform 0.28s;
      width: 100%;
    }

    &::after {
      background-color: var(--color-text-primary);
      content: '';
      height: 3px;
      left: 0;
      position: absolute;
      top: calc(50% - 1.5px);
      transform: translateY(250%);
      transition: transform 0.28s;
      width: 100%;
    }
  }

  &--fixed,
  &%--fixed {
    @media (max-width: 900px) {
      height: auto;
      max-height: calc(100% - var(--nav-height));
      overflow: visible;
      overflow-y: scroll;
      padding-bottom: var(--space-20);
      position: fixed;
      top: var(--nav-height);
    }
  }

  &--fixed &__open {
    background-color: transparent;
    color: transparent;
    margin-bottom: -35px;
    margin-top: 16px;
    top: calc(var(--nav-height) + 1.6rem);

    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }
  }
}
