.table-of-contents {
  cursor: pointer;

  strong {
    display: inline-block;
    font-size: 0.67em;
    margin: 0;
    text-transform: uppercase;
  }

  ul {
    list-style: none;
    padding: 0 0 0 var(--space-08);

    li {
      p {
        margin: 0;
      }

      a {
        font-family: var(--sans-serif);
        text-decoration: underline;
        text-decoration-color: var(--black4);
        transition: all ease-out 0.2s;

        &:hover {
          color: var(--brand-light);
          text-decoration: none;
        }
      }
    }
  }
}
