.list {
  list-style: none;
}

.link {
  margin-left: 0.5rem;
  &:hover img {
    transform: scale(1.1);
  }
}

.img {
  border: 1px solid var(--brand-light);
  border-radius: 100%;
  height: 30px;
  margin-top: 5px;
  transition: all 0.2s ease-in-out;
  width: 30px;
}
