.edit {
  display: flex;
  flex-wrap: wrap;
}

.link {
  color: var(--black7) !important;
  font-family: var(--sans-serif);
  font-size: 1.4rem;
  font-weight: normal;
  text-decoration: none !important;
  text-transform: uppercase;
  vertical-align: middle;
  span {
    font-weight: normal;
    vertical-align: middle;
  }
  &:hover {
    color: var(--brand-light) !important;
  }
}

.icon {
  margin-left: 0.5rem;
  vertical-align: middle;
}
