.list {
  font-size: 1em;
  margin-bottom: 40px;
  span {
    display: inline-block;
    margin: 0;
    margin-left: 3px;
    a {
      display: inline-block;
      text-decoration: none;
    }
  }
}
