.recent-posts {
  padding: var(--space-24);
  max-width: 36rem;
  width: 100%;
}

.recent-posts-header {
  margin: 0;
  padding: var(--space-24) 0;
}

.recent-post-list {
  margin: 0;
  padding: 0;
}

.recent-post-item {
  list-style: none;
  font-size: var(--font-size-body2);
  margin-bottom: 10px;
}

.recent-post-item a {
  color: var(--color-text-primary);
  text-decoration: none;
}

.recent-post-item .recent-post-item-active {
  color: var(--color-text-accent);
}
