.partner-section {
	height: 50vh;
  text-align: center;
  display: flex;
	justify-content: center;
	flex-direction: column;

  p {
    color: var(--color-text-secondary);
    margin-bottom: var(--space-64);
  }
  .partners-logo-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    filter: grayscale(1);
  }
}
