@import 'learn.scss';

.side-nav-about {
  @extend .side-nav;
  width: auto;

  &.side-nav--open {
    @extend .side-nav--open;
    width: 100%;
    height: 100vh;
    top: calc(var(--nav-height) * 2);
    touch-action: none;
    .side-nav__open {
      top: 1.8rem;
    }
  }
}
