@keyframes leafs-animation {
  50% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(8deg);
  }
}

@keyframes blink-animation {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animations {
  @media (prefers-reduced-motion: reduce) {
    animation-name: none;
  }
}
