* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
  font-size: 10px;
  height: 100%;
  margin: 0;

  @media (max-width: 900px) {
    font-size: 0.5625rem;
  }
}

body {
  background: var(--color-fill-app);
  color: var(--color-text-primary);
  font-family: var(--base-type-face);
  font-size: 1.6rem;
  height: 100%;
  margin: 0 0;
  overflow-x: hidden;

  /* Set in JavaScript */
  --banner-clip: polygon(0 0, 100% 0, 100% calc(100% - 72px), 0 100%);
  --banner-gradient: linear-gradient(to right, var(--accent9), var(--info7));
  --nav-height: 73px;
  --hero-height: 36rem;
  --brand-light: var(--brand3);
  --brand: var(--brand5);
  --brand-dark: var(--brand7);

  @media (max-width: 1262px) and (min-width: 900px) {
    --banner-clip: polygon(0 0, 100% 0, 100% calc(100% - 52px), 0 100%);
  }

  @media (max-width: 900px) {
    --nav-height: 42px;
    --banner-clip: polygon(
      0 0,
      100% 0,
      100% calc(100% - 52px),
      0 calc(100% - 32px)
    );
  }
}

main {
  @media (max-width: 900px) {
    display: flex;
    flex-flow: column;
  }
}

::placeholder {
  color: var(--black3);
}

button,
input {
  background: transparent;
  font-family: var(--base-type-face);
  font-size: var(--font-size-body);
}

button {
  cursor: pointer;
}

input {
  color: var(--color-text-primary);
}

body:not(.dark) .dark-mode-only,
.dark .light-mode-only {
  display: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

@media (max-width: 900px) {
  thead {
    tr {
      th {
        padding: var(--space-14) var(--space-12) var(--space-14);
      }
    }
  }

  tbody {
    tr {
      td {
        padding: var(--space-14) var(--space-12) var(--space-14);
      }
    }
  }
}

select {
  appearance: none;
  background: white;
  background-image: url('data:image/svg+xml;utf8;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iMTEiIHZpZXdCb3g9IjAgMCAxMSAxMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik01LjMzMzQgOC42MzMwOEwxLjA5MDc2IDQuMzkwNDRMMC4xNDc5NDkgNS4zMzMyNUw0Ljg2MTk5IDEwLjA0NzNDNS4xMjIzNCAxMC4zMDc2IDUuNTQ0NDUgMTAuMzA3NiA1LjgwNDggMTAuMDQ3M0wxMC41MTg4IDUuMzMzMjVMOS41NzYwNCA0LjM5MDQ0TDUuMzMzNCA4LjYzMzA4WiIgZmlsbD0iIzUxNTU2NSIvPgo8L3N2Zz4K');
  background-position: top 0.8rem right 0.8rem;
  background-repeat: no-repeat;
  border: 1px solid var(--black3);
  border-radius: 0.2rem;
  box-shadow: 0 2px 2px rgba(215, 216, 223, 0.3);
  box-sizing: border-box;
  color: var(--black8);
  cursor: pointer;
  font-size: var(--font-size-body1);
  line-height: var(--line-height-body1);
  padding: 0.4rem 2.4rem 0.4rem 0.8rem;
  transition: border-color 0.28s;

  &:hover,
  &:active {
    border-color: var(--black5);
  }
}

:focus {
  outline: var(--brand3) dotted 2px;
}

[data-is-focused='true'] {
  outline: none;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
