@import 'react-big-calendar/lib/sass/styles';

.rbc-today {
  border-top: var(--space-04) solid var(--color-border-accent);
  background-color: transparent;
}

.rbc-event {
  border: none;
  box-sizing: border-box;
  box-shadow: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border-radius: 2px;
  color: var(--color-text-primary);
  cursor: pointer;
  width: 100%;
  text-align: left;

  .rbc-slot-selecting & {
    cursor: inherit;
    pointer-events: none;
  }

  &.rbc-selected {
    background-color: var(--color-border-accent);
  }

  &:focus {
    outline: var(--space-04) auto var(--color-border-accent);
  }
}

.rbc-day-slot .rbc-event,
.rbc-day-slot .rbc-background-event {
  border: 1px solid var(--color-border-accent);
  display: flex;
  max-height: 100%;
  min-height: 20px;
  flex-flow: column wrap;
  align-items: flex-start;
  overflow: hidden;
  position: absolute;
}

.rbc-overlay {
  position: absolute;
  z-index: 5;
  border: 1px solid var(--color-fill-card);
  background-color: var(--color-fill-card);
  padding: 10px;
}
