@import 'react-big-calendar/lib/sass/styles';

.rbc-today {
  background-color: transparent;
}

.rbc-event {
  background-color: transparent;
  border: none;
  border-radius: 2px;
  box-shadow: none;
  box-sizing: border-box;
  color: var(--color-text-primary);
  cursor: pointer;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;

  .rbc-slot-selecting & {
    cursor: inherit;
    pointer-events: none;
  }

  &.rbc-selected {
    background-color: var(--color-border-accent);
  }

  &:focus {
    outline: var(--space-04) auto var(--color-border-accent);
  }
}

.rbc-day-slot .rbc-event,
.rbc-day-slot .rbc-background-event {
  align-items: flex-start;
  border: 1px solid var(--color-border-accent);
  display: flex;
  flex-flow: column wrap;
  max-height: 100%;
  min-height: 20px;
  overflow: hidden;
  position: absolute;
}

.rbc-overlay {
  background-color: var(--color-fill-card);
  border: 1px solid var(--color-fill-card);
  padding: 10px;
  position: absolute;
  z-index: 5;
}

.rbc-tooltip {
  background-color: #333;
  border-radius: 6px;
  color: white;
  font-size: 13px;
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  width: 36rem;
  z-index: 999;
}

.rbc-toolbar {
  & button {
    color: var(--color-text-primary);
    display: inline-block;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    background: none;
    background-image: none;
    border: 1px solid var(--color-border-primary);
    padding: .375rem 1rem;
    border-radius: 4px;
    line-height: normal;
    white-space: nowrap;

    &:active,
    &.rbc-active {
      background-image: none;
      box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
      background-color: var(--color-border-accent);
      border-color: var(--color-border-accent);

      &:hover,
      &:focus {
        color: var(--color-text-primary);
        background-color: var(--color-border-accent);
        border-color: var(--color-border-accent);
      }
    }

    &:focus {
      color: var(--color-text-primary);
      background-color: var(--color-border-accent);
      border-color: var(--color-border-accent);
    }

    &:hover {
      color: var(--color-text-primary);
      background-color: var(--color-border-accent);
      border-color: var(--color-border-accent);
    }
  }
}

.rbc-day-slot {
  position: relative;

  .rbc-events-container {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    margin-right: 10px;
    top: 0;

    &.rbc-rtl {
      left: 10px;
      right: 0;
    }
  }

  .rbc-event {
    border: 1px solid var(--color-border-accent);
    display: flex;
    max-height: 100%;
    min-height: 20px;
    flex-flow: column wrap;
    align-items: flex-start;
    overflow: hidden;
    position: absolute;
  }
  
  .rbc-background-event {
    @extend .rbc-event;
    opacity: 0.75;
  }

  .rbc-event-label {
    flex: none;
    padding-right: 5px;
    width: auto;
  }

  .rbc-event-content {
    width: 100%;
    flex: 1 1 0;
    word-wrap: break-word;
    line-height: 1;
    height: 100%;
    min-height: 1em;
  }

  .rbc-time-slot {
    border-top: 1px solid transparent;
  }
}

.rbc-off-range-bg {
  background: var(--color-border-accent);
}

.rbc-off-range {
  color: var(--color-text-primary);
}
