.home-container {
  margin: 0 auto;
  margin-bottom: var(--space-80);
  max-width: 960px;
  position: relative;
  --section-margin-bottom: 340px;

  @media (max-width: 1100px) {
    max-width: 800px;
  }

  @media (max-width: 900px) {
    --section-margin-bottom: 40px;
    margin: 0 auto;
    margin-bottom: var(--space-80);
    position: relative;
  }
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.centered-container {
  display: flex;
  justify-content: center;
}

.grid-container {
  display: grid;

  @media (min-width: 900px) {
    grid-template-columns: 28.8rem auto;
  }
}
