.api-nav {
  background-color: var(--color-fill-side-nav);
  height: calc(100vh - var(--nav-height));
  overflow: auto;
  position: sticky;
  top: var(--nav-height);
}

.api-nav__version {
  width: 100%;
}

.api-nav__list {
  list-style: none;
  padding: 0 var(--space-20);
}

.api-nav__list-title {
  align-items: center;
  color: var(--color-text-primary);
  display: flex;
  font-weight: 600;
  margin: 0 0 calc(var(--space-20) - (var(--space-12) / 2)) 0;
}

.api-nav__list-item {
  list-style: none;
  margin: 0 0 var(--space-20) 0;
}

.api-nav__sub-list {
  list-style: none;
  padding: 0 0 0 var(--space-24);
}

.api-nav__sub-list-item {
  list-style: none;
}

.api-nav__sub-list-link {
  color: var(--color-text-secondary);
  display: block;
  padding: calc(var(--space-12) / 2) 0;
  text-decoration: none;
  transition: color 0.15s;

  &:hover {
    color: var(--color-text-accent);
    text-decoration: underline;
  }
}

.api-key {
  list-style: none;
  padding: 0;

  > .api-key__item {
    margin-bottom: 0.8rem;
  }
}

.api-key__section {
  background: var(--black2);
  border-radius: 4px;
  display: grid;
  grid-gap: 0.8rem;
  grid-template-columns: repeat(5, 20%);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  list-style: none;
  margin: 0.8rem 0;
  padding: 0.8rem;

  .api-key__item {
    &:hover,
    > a:hover,
    &:focus,
    > a:focus {
      background-color: var(--black4);
      box-shadow: 0 0 0 0.4rem var(--black4);
    }
  }
}

.dark .api-key__section {
  background: var(--black9);

  .api-key__item {
    &:hover,
    > a:hover,
    &:focus,
    > a:focus {
      background-color: var(--black8);
      box-shadow: 0 0 0 0.4rem var(--black8);
    }
  }
}

.api-key__item--class,
.api-key__item--module {
  flex-grow: 1;
}

.api-key__item {
  border-radius: 4px;
  color: var(--color-text-primary);
  cursor: pointer;
  display: block;
  margin: 0;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: background-color 0.28s, box-shadow 0.28s;
  white-space: pre;

  > a {
    border-radius: 4px;
    color: var(--color-text-primary);
    cursor: pointer;
    display: block;
    margin: 0;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: background-color 0.28s, box-shadow 0.28s;
    white-space: pre;
  }
}

.api-key__item--has-children {
  grid-column-end: -1;
  grid-column-start: 1;
}

.api-key__section .api-key__item--has-children .api-key__section {
  padding-left: 1.8rem;
}

.api-key__item > a::before {
  background-color: var(--info6);
  border-radius: 50%;
  color: white;
  content: 'P';
  display: inline-block;
  font-size: 1.4rem;
  height: 2.4rem;
  line-height: 2.4rem;
  margin-right: 0.8rem;
  text-align: center;
  width: 2.4rem;
}

.api-docs__section .api-docs__section {
  margin-left: var(--space-32);
}

.api-docs__title {
  font-family: var(--mono);
  font-size: var(--font-size-code);
  font-weight: 400;
  line-height: 2.4rem;

  &.api-key__item--module {
    font-family: var(--sans);
  }

  &::before {
    background-color: var(--info6);
    border-radius: 50%;
    color: white;
    content: 'P';
    display: inline-block;
    font-family: var(--sans);
    font-size: 1.4rem;
    height: 2.4rem;
    line-height: 2.4rem;
    margin-right: 0.8rem;
    text-align: center;
    width: 2.4rem;
  }
}

.api-key__item--global > a::before,
.api-docs__title--global::before {
  background-color: var(--warning4);
  content: 'G';
}

.api-key__item--event > a::before,
.api-docs__title--event::before {
  background-color: var(--danger6);
  content: 'E';
}

.api-key__item--class > a::before,
.api-docs__title--class::before {
  background-color: var(--warning4);
  content: 'C';
}

.api-key__item--method > a::before,
.api-docs__title--method::before {
  background-color: var(--purple6);
  content: 'M';
}

.api-key__item--Object > a::before,
.api-docs__title--Object::before {
  background-color: var(--pink6);
  content: 'O';
}

.api-key__item--module > a::before,
.api-docs__title--module::before {
  background-color: transparent;
  color: var(--color-text-accent);
  content: 'pages';
  font-size: 3rem;
  position: relative;
  right: 3px;
  vertical-align: middle;
}

.api-key__item--misc {
  display: none;
}

.breadcrumb-separator {
  margin: 0 0.5rem;
}
.breadcrumb-active {
  color: var(--brand5);
}
