.home-page.-download {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: var(--base-type-face);
  font-style: var(--font-style-regular);
  font-weight: var(--font-weight-regular);
  justify-content: center;
  margin-top: 151px;
  max-width: 936px;
  width: 80%;
}

.release-description {
  font-size: var(--font-size-body1);
  line-height: var(--line-height-body1);
  margin-top: 40px;
  text-align: center;
}

@media (max-width: 975px) {
  .home-page.-download {
    width: 90%;
  }

  .release-description {
    text-align: justify;
  }
}
