$material-icons-font-path: '~material-icons/iconfont/';

// import the open sans fonts
@import '~@fontsource/open-sans/300.css';
@import '~@fontsource/open-sans/300-italic.css';
@import '~@fontsource/open-sans/400.css';
@import '~@fontsource/open-sans/400-italic.css';
@import '~@fontsource/open-sans/600.css';
@import '~@fontsource/open-sans/600-italic.css';
@import '~@fontsource/open-sans/700.css';
@import '~@fontsource/open-sans/700-italic.css';
@import '~@fontsource/open-sans/800.css';
@import '~@fontsource/open-sans/800-italic.css';

// import material icons and build them
@import '~material-icons/iconfont/material-icons.scss';

// overrides default materialm icons sizing
.material-icons {
  font-size: 2rem;
  padding: 1rem;

  &--small {
    font-size: 1.4rem;
    padding: 0.1rem;
  }
}
