

.pentagon-illustration-big1 {
    position: absolute;
    top: 1200px;
    z-index: -1;
    right: 0;
}

.pentagon-illustration-big2 {
    position: absolute;
    z-index: -2;
    left: 0;
    bottom: -2000px;
}

.double-background {
    position: absolute;
    width: 100%;
    height: 1954px;
    top: 808px;
    left: 0;
    background: var(--color-fill-canvas);
    z-index: -10;
}

.btn-subscribe {
    border: none;
    box-sizing: border-box;
    height: 5.6rem;
    padding: 0 var(--space-24);
    font-weight: var(--font-weight-semibold);
    background: var(--color-fill-action);
    border-radius: var(--space-04);
    color: var(--black0);
    margin: 0;
    margin-left: var(--space-08);
    cursor: pointer;
}

.trusted-by {
    margin-bottom: var(--section-margin-bottom);
    text-align: center;
    width: 100%;
}

.trusted-by p {
    color: var(--color-text-secondary);
    margin-bottom: var(--space-64);
}

.trusted-by .logos-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    filter: grayscale();
}

.get-started-callouts {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    margin-bottom: var(--space-80);
}

.get-started-callout {
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.get-started-callout h5 {
    color: var(--color-text-primary);
    margin: 0;
    margin-top: var(--space-24);
}

.get-started-callout p {
    margin-top: var(--space-16);
    color: var(--color-text-secondary);
    width: 422px;
}

.btn-primary {
    display: block;
    width: 141px;
    margin: 0 auto;
    cursor: pointer;
    border: none;
    box-sizing: border-box;
    padding: var(--space-08) var(--space-24);
    font-weight: var(--font-weight-semibold);
    background: var(--color-fill-action);
    color: var(--black0);
    border-radius: var(--space-04);
    text-decoration: none;
    line-height: var(--line-height-body1);
}

.btn-primary:hover, .btn-primary:focus {
    color: var(--black0);
}
  