

.pentagon-illustration-big1 {
    position: absolute;
    top: 1200px;
    z-index: -1;
    right: 0;
}

.pentagon-illustration-big2 {
    position: absolute;
    z-index: -2;
    left: 0;
    bottom: -2000px;
}

.double-background {
    position: absolute;
    width: 100%;
    height: 1954px;
    top: 808px;
    left: 0;
    background: var(--color-fill-canvas);
    z-index: -10;
}
