html {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}

body {
  background: var(--color-fill-app);
  color: var(--color-text-primary);
  font-family: var(--base-type-face);
  font-size: 1.6rem;
  height: 100%;
  margin: 0 0;
  overflow-x: hidden;

  /* Set in JavaScript */
  --banner-clip: polygon(0 0, 100% 0, 100% calc(100% - 72px), 0 100%);
  --banner-gradient: linear-gradient(to right, var(--accent9), var(--info7));
  --nav-height: 73px;
  --hero-height: 36rem;
  --brand-light: var(--brand3);
  --brand: var(--brand5);
  --brand-dark: var(--brand7);
}

.t-display1,
h1 {
  font-size: var(--font-size-display1);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-display1);
  margin: 0 0 var(--space-80) 0;
}

.t-display2 {
  font-size: var(--font-size-display2);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-display2);
}

.t-display3 {
  font-size: var(--font-size-display3);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-display3);
}

.t-headline,
h2 {
  font-size: var(--font-size-headline);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-headline);
  margin: 0 0 var(--space-24) 0;
}

.t-subheading,
h3 {
  font-size: var(--font-size-subheading);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-subheading);
  margin: 0 0 var(--space-08) 0;
}

.t-body1,
p {
  font-size: var(--font-size-body1);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-body1);
  margin: 0 0 var(--space-24) 0;
}

.t-body2 {
  font-size: var(--font-size-body2);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-body2);
}

.t-caption {
  font-size: var(--font-size-caption);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-caption);
}

.t-overline {
  color: var(--color-text-primary);
  font-size: var(--font-size-overline);
  font-weight: var(--font-weight-normal);
  letter-spacing: 0.1rem;
  line-height: var(--line-height-overline);
  margin: 0 0 var(--space-4) 0;
  text-transform: uppercase;
}

.t-link,
a {
  color: var(--color-text-accent);
  cursor: pointer;
  text-decoration: underline;
}

.t-link:hover,
a:hover,
.t-link:focus,
a:focus {
  color: var(--color-text-accent);
  cursor: pointer;
  text-decoration: none;
}

.material-icons {
  font-size: 2rem;
  padding: 1rem;
}

.material-icons--small {
  font-size: 1.4rem;
  padding: 0.1rem;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

::placeholder {
  color: var(--black3);
}

button,
input {
  background: transparent;
  font-family: var(--base-type-face);
  font-size: var(--font-size-body);
}

button {
  cursor: pointer;
}

input {
  color: var(--color-text-primary);
}

body:not(.dark) .dark-mode-only,
.dark .light-mode-only {
  display: none;
}

/* Start: Syntax Highlight Overrides */

pre[class*='language-'],
code[class*='language-'] {
  background: var(--black9) !important;
  color: var(--black2) !important;
  margin-bottom: var(--space-24);
}

:not(pre) > code[class*='language-'] {
  background-color: var(--black2) !important;
  color: var(--black9) !important;
  padding: 0 6px !important;
  text-decoration: none;
  text-shadow: none;
}

pre[class*='language-'] > code[class*='language-'] + h2 {
  margin-top: var(--space-40);
}

.token {
  &.punctuation,
  &.operator {
    color: var(--black2) !important;
  }

  &.function {
    color: var(--warning3) !important;
  }

  &.keyword {
    color: var(--info3) !important;
  }

  &.string {
    color: var(--brand3) !important;
  }

  &.number {
    color: var(--purple3) !important;
  }
}

/* End: Syntax Highlight Overrides */

table {
  border-collapse: collapse;
  width: 100%;
}

select {
  appearance: none;
  background: white;
  background-image: url('data:image/svg+xml;utf8;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iMTEiIHZpZXdCb3g9IjAgMCAxMSAxMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik01LjMzMzQgOC42MzMwOEwxLjA5MDc2IDQuMzkwNDRMMC4xNDc5NDkgNS4zMzMyNUw0Ljg2MTk5IDEwLjA0NzNDNS4xMjIzNCAxMC4zMDc2IDUuNTQ0NDUgMTAuMzA3NiA1LjgwNDggMTAuMDQ3M0wxMC41MTg4IDUuMzMzMjVMOS41NzYwNCA0LjM5MDQ0TDUuMzMzNCA4LjYzMzA4WiIgZmlsbD0iIzUxNTU2NSIvPgo8L3N2Zz4K');
  background-position: top 0.8rem right 0.8rem;
  background-repeat: no-repeat;
  border: 1px solid var(--black3);
  border-radius: 0.2rem;
  box-shadow: 0 2px 2px rgba(215, 216, 223, 0.3);
  box-sizing: border-box;
  color: var(--black8);
  cursor: pointer;
  font-size: var(--font-size-body1);
  line-height: var(--line-height-body1);
  padding: 0.4rem 2.4rem 0.4rem 0.8rem;
  transition: border-color 0.28s;

  &:hover,
  &:active {
    border-color: var(--black5);
  }
}

.grid-container {
  display: grid;

  @media (min-width: 800px) {
    grid-template-columns: 28.8rem auto;
  }
}

:focus {
  outline: var(--brand3) dotted 2px;
}

[data-is-focused='true'] {
  outline: none;
}

.gatsby-highlight {
  display: grid;
}

/* 3rd Party plugin styles. */
/* Styles for gatsby-remark-autolink-headers plugin*/

.autolink-headers {
  fill: var(--warning3);
  left: -4px;
  position: absolute;

  &.before {
    left: 0;
    padding-right: 4px;
    position: absolute;
    top: 0;
    transform: translateX(-100%);
  }

  svg {
    visibility: hidden;
  }
}

h1:hover .autolink-headers,
h2:hover .autolink-headers,
h3:hover .autolink-headers,
h4:hover .autolink-headers,
h5:hover .autolink-headers,
h6:hover .autolink-headers {
  svg {
    visibility: visible;
  }
}

/* IntersectionObserver related styles */
/* Sentinels - waypoints for figuring out scroll position */

.sticky-sentinel {
  left: 0;
  position: absolute;
  right: 0;
}

.sticky-sentinel--top {
  height: 40px;
  top: -24px;
}

.sticky-sentinel--bottom {
  bottom: 0;
  height: 40px;
}

.home-container {
  --section-margin-bottom: 340px;
  margin: 0 auto;
  margin-bottom: var(--space-80);
  position: relative;

  @media (min-width: 1100px) {
    max-width: 960px;
  }

  @media (max-width: 1100px) {
    max-width: 800px;
  }
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.centered-container {
  display: flex;
  justify-content: center;
}

.resources-logos {
  img {
    width: 100%;
  }

  td {
    padding: 20px;
  }
}

.bg-white {
  background-color: #fff;
}

.bg-node-gray {
  background-color: #333;
}

.streched-container {
  display: flex;
  justify-content: stretch;
  width: fit-content;
}

@keyframes leafs-animation {
  50% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(8deg);
  }
}
