html {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}

body {
  background: var(--color-fill-app);
  color: var(--color-text-primary);
  font-family: var(--base-type-face);
  font-size: 1.6rem;
  height: 100%;
  margin: 0 0;
  overflow-x: hidden;

  /* Set in JavaScript */
  --banner-clip: polygon(0 0, 100% 0, 100% calc(100% - 72px), 0 100%);
  --banner-gradient: linear-gradient(to right, var(--accent9), var(--info7));
  --nav-height: 7.2rem;
  --hero-height: 36rem;
  --brand-light: var(--brand3);
  --brand: var(--brand5);
  --brand-dark: var(--brand7);
}

.t-display1,
h1 {
  font-size: var(--font-size-display1);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-display1);
  margin: 0 0 var(--space-80) 0;
}

.t-display2 {
  font-size: var(--font-size-display2);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-display2);
}

.t-display3 {
  font-size: var(--font-size-display3);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-display3);
}

.t-headline,
h2 {
  font-size: var(--font-size-headline);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-headline);
  margin: 0 0 var(--space-24) 0;
}

.t-subheading,
h3 {
  font-size: var(--font-size-subheading);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-subheading);
  margin: 0 0 var(--space-08) 0;
}

.t-body1,
p {
  font-size: var(--font-size-body1);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-body1);
  margin: 0 0 var(--space-24) 0;
}

.t-body2 {
  font-size: var(--font-size-body2);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-body2);
}

.t-caption {
  font-size: var(--font-size-caption);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-caption);
}

.t-overline {
  color: var(--color-text-primary);
  font-size: var(--font-size-overline);
  font-weight: var(--font-weight-normal);
  letter-spacing: 0.1rem;
  line-height: var(--line-height-overline);
  margin: 0 0 var(--space-4) 0;
  text-transform: uppercase;
}

.t-link,
a {
  color: var(--color-text-accent);
  cursor: pointer;
  text-decoration: underline;
}

.t-link:hover,
a:hover,
.t-link:focus,
a:focus {
  color: var(--color-text-accent);
  cursor: pointer;
  text-decoration: none;
}

.material-icons {
  font-size: 2rem;
  padding: 1rem;
}

.material-icons--small {
  font-size: 1.4rem;
  padding: 0.1rem;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

::placeholder {
  color: var(--black3);
}

button,
input {
  background: transparent;
  font-family: var(--base-type-face);
  font-size: var(--font-size-body);
}

button {
  cursor: pointer;
}

input {
  color: var(--color-text-primary);
}

body:not(.dark) .dark-mode-only,
.dark .light-mode-only {
  display: none;
}

.dark-mode-toggle {
  background: none;
  border: none;
  color: var(--color-text-accent);
  cursor: pointer;
  padding: 0;
}

.theme-buttons {
  font-size: 2rem;
  padding: calc(var(--space-24) + 1rem) calc(var(--space-16) + 1rem)
    calc(var(--space-24) - 2px + 1rem) calc(var(--space-16) + 1rem);
}

/* Start: Syntax Highlight Overrides */

pre[class*='language-'],
code[class*='language-'] {
  background: var(--black9) !important;
  color: var(--black2) !important;
  margin-bottom: var(--space-24);
}

:not(pre) > code[class*='language-'] {
  background-color: var(--black2) !important;
  color: var(--black9) !important;
  padding: 0 6px !important;
  text-decoration: none;
  text-shadow: none;
}

pre[class*='language-'] > code[class*='language-'] + h2 {
  margin-top: var(--space-40);
}

.token {
  &.punctuation,
  &.operator {
    color: var(--black2) !important;
  }

  &.function {
    color: var(--warning3) !important;
  }

  &.keyword {
    color: var(--info3) !important;
  }

  &.string {
    color: var(--brand3) !important;
  }

  &.number {
    color: var(--purple3) !important;
  }
}

/* End: Syntax Highlight Overrides */

.overflow-horizontal-scroll {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

select {
  appearance: none;
  background: white;
  background-image: url(data:image/svg+xml;utf8;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iMTEiIHZpZXdCb3g9IjAgMCAxMSAxMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik01LjMzMzQgOC42MzMwOEwxLjA5MDc2IDQuMzkwNDRMMC4xNDc5NDkgNS4zMzMyNUw0Ljg2MTk5IDEwLjA0NzNDNS4xMjIzNCAxMC4zMDc2IDUuNTQ0NDUgMTAuMzA3NiA1LjgwNDggMTAuMDQ3M0wxMC41MTg4IDUuMzMzMjVMOS41NzYwNCA0LjM5MDQ0TDUuMzMzNCA4LjYzMzA4WiIgZmlsbD0iIzUxNTU2NSIvPgo8L3N2Zz4K);
  background-position: top 0.8rem right 0.8rem;
  background-repeat: no-repeat;
  border: 1px solid var(--black3);
  border-radius: 0.2rem;
  box-shadow: 0 2px 2px rgba(215, 216, 223, 0.3);
  box-sizing: border-box;
  color: var(--black8);
  cursor: pointer;
  font-size: var(--font-size-body1);
  line-height: var(--line-height-body1);
  padding: 0.4rem 2.4rem 0.4rem 0.8rem;
  transition: border-color 0.28s;

  &:hover,
  &:active {
    border-color: var(--black5);
  }
}

.grid-container {
  display: grid;
  @media (min-width: 800px) {
    grid-template-columns: 28.8rem auto;
  }
}

:focus {
  outline: var(--brand3) dotted 2px;
}

[data-is-focused='true'] {
  outline: none;
}

.nav {
  background: var(--color-fill-app);
  border-bottom: var(--space-01) solid var(--black2);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
}

.nav__container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--space-08) 0 var(--space-24);
}

.nav__startwrapper {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.nav__endwrapper {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.dark .nav {
  border: none;
}

.nav__logo {
  height: var(--space-32);
}

.nav__tabs__container {
  align-items: center;
  display: flex;
  justify-self: flex-start;
  list-style: none;
  margin: 0 0 0 120px;
  margin-right: auto;
}

.nav .right-container {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.nav__tabs {
  color: green;
  cursor: pointer;
  display: flex;
  margin-left: var(--space-16);
  text-decoration: none;

  > a {
    color: var(--color-text-primary);
    padding: var(--space-24) var(--space-16) calc(var(--space-24) - 2px)
      var(--space-16);
    text-decoration: none;
  }
}

.activeStyleTab:hover {
  border-bottom: 4px solid var(--color-text-primary);
  margin-bottom: -4px;
}

.active {
  border-bottom: 4px solid green;
  margin-bottom: -4px;
}

/* Start: Article Reader HTML Reset */

.article-reader {
  max-width: 768px;
  padding-left: 4.2rem;
  padding-top: var(--space-80);
  width: calc(100% - 36rem);

  hr {
    border: none;
    border-bottom: 0.4rem solid var(--black2);
  }

  img {
    max-width: 100%;
  }
}

/* sr-only for desktop */

.article-reader__headline {
  padding: 0;
}

.hero h1 {
  cursor: pointer;
}

.article-reader blockquote {
  border-left: 3px solid var(--black4);
  color: var(--color-text-primary);
  font-style: italic;
  font-weight: 200;
  letter-spacing: 1px;
  margin: 0 0 2.8rem 0;
  padding: 1.8rem 0 1.8rem 3.2rem;

  p {
    margin: 0;
    padding: 0;
  }
}

/* End: Article Reader HTML Reset */

/* TOC */

details {
  cursor: pointer;
}

.toc {
  cursor: pointer;

  h6 {
    display: inline-block;
    margin: 0;
  }

  a {
    font-family: var(--sans-serif);
    text-decoration: underline;
    text-decoration-color: var(--black4);
    transition: all ease-out 0.2s;

    &:hover {
      color: var(--brand-light);
      text-decoration: none;
    }
  }

  li p {
    margin: 0;
  }
}

/* 3rd Party plugin styles. */
/* Styles for gatsby-remark-autolink-headers plugin*/

.autolink-headers {
  fill: var(--warning3);
  left: -4px;
  position: absolute;

  &.before {
    left: 0;
    padding-right: 4px;
    position: absolute;
    top: 0;
    transform: translateX(-100%);
  }

  svg {
    visibility: hidden;
  }
}

h1:hover .autolink-headers,
h2:hover .autolink-headers,
h3:hover .autolink-headers,
h4:hover .autolink-headers,
h5:hover .autolink-headers,
h6:hover .autolink-headers {
  svg {
    visibility: visible;
  }
}

/* IntersectionObserver related styles */
/* Sentinels - waypoints for figuring out scroll position */

.sticky-sentinel {
  left: 0;
  position: absolute;
  right: 0;
}

.sticky-sentinel--top {
  height: 40px;
  top: -24px;
}

.sticky-sentinel--bottom {
  bottom: 0;
  height: 40px;
}

@media (max-width: 800px) {
  main {
    display: flex;
    flex-flow: column;
  }

  thead {
    tr {
      th {
        padding: var(--space-14) var(--space-12) var(--space-14);
      }
    }
  }

  tbody {
    tr {
      td {
        padding: var(--space-14) var(--space-12) var(--space-14);
      }
    }
  }

  .article-reader {
    padding: 0 3rem;
  }

  .nav__container {
    align-items: start;
    flex-flow: wrap;
    min-height: calc(1 * var(--nav-height));
    padding: 0 var(--space-12);
  }

  .logo {
    align-items: center;
    display: flex;
    height: var(--nav-height);
  }

  .nav__logo {
    height: 2.4rem;
  }

  .nav__tabs__container {
    background: var(--color-fill-app);
    height: var(--nav-height);
    justify-content: center;
    margin: 0;
    order: 3;
    padding: 0;
    width: 100%;
  }

  .nav .right-container {
    display: flex;
    list-style: none;
    padding-right: 0;
  }

  .nav__tabs {
    display: flex;
    margin-left: 0;

    &:not(:last-child) {
      margin-right: 0.5rem;
    }

    > a {
      padding: var(--space-08);
    }
  }

  .dark-mode-toggle {
    padding: 0;
  }

  .theme-buttons {
    padding: calc(var(--space-08) + 1rem);
  }

  .right-container .nav__tabs > a:last-child {
    padding-right: 0;
  }
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.blog-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(388px, 1fr));
  margin: 0 auto;
  width: 75%;

  @media only screen and (max-width: 1000px) {
    width: 80%;
  }

  @media only screen and (max-width: 800px) {
    width: 100%;
  }
}

.blog-container {
  display: flex;
  justify-content: center;
}
.centered-container {
  display: flex;
  justify-content: center;
}

.resources-logos {
  img {
    width: 100%;
  }

  td {
    padding: 20px;
  }
}

.bg-white {
  background-color: #fff;
}

.bg-node-gray {
  background-color: #333;
}

.streched-container {
  display: flex;
  justify-content: stretch;
  width: fit-content;
}
