html {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-fill-app);
  color: var(--color-text-primary);
  font-size: 1.6rem;
  font-family: var(--base-type-face);
  margin: 0;
  margin-top: var(--nav-height);

  /* Set in JavaScript */
  --banner-clip: polygon(0 0, 100% 0, 100% calc(100% - 72px), 0 100%);
  --banner-gradient: linear-gradient(to right, var(--accent9), var(--info7));
  --nav-height: 7.2rem;
  --hero-height: 36rem;
  --brand-light: var(--brand3);
  --brand: var(--brand5);
  --brand-dark: var(--brand7);
}

.t-display1,
h1 {
  font-size: var(--font-size-display1);
  line-height: var(--line-height-display1);
  font-weight: var(--font-weight-light);
  margin: 0 0 var(--space-80) 0;
}

.t-display2 {
  font-size: var(--font-size-display2);
  line-height: var(--line-height-display2);
  font-weight: var(--font-weight-regular);
}

.t-display3 {
  font-size: var(--font-size-display3);
  line-height: var(--line-height-display3);
  font-weight: var(--font-weight-regular);
}

.t-headline,
h2 {
  font-size: var(--font-size-headline);
  line-height: var(--line-height-headline);
  font-weight: var(--font-weight-semibold);
  margin: 0 0 var(--space-24) 0;
}

.t-subheading,
h3 {
  font-size: var(--font-size-subheading);
  line-height: var(--line-height-subheading);
  font-weight: var(--font-weight-semibold);
  margin: 0 0 var(--space-08) 0;
}

.t-body1,
p {
  font-size: var(--font-size-body1);
  line-height: var(--line-height-body1);
  font-weight: var(--font-weight-regular);
  margin: 0 0 var(--space-24) 0;
}

.t-body2 {
  font-size: var(--font-size-body2);
  line-height: var(--line-height-body2);
  font-weight: var(--font-weight-regular);
}

.t-caption {
  font-size: var(--font-size-caption);
  line-height: var(--line-height-caption);
  font-weight: var(--font-weight-regular);
}

.t-overline {
  font-size: var(--font-size-overline);
  line-height: var(--line-height-overline);
  font-weight: var(--font-weight-normal);
  color: var(--color-text-secondary);
  text-transform: uppercase;
}

.t-link,
a {
  color: var(--color-text-accent);
  text-decoration: underline;
  cursor: pointer;
}

.t-link:hover,
a:hover,
.t-link:focus,
a:focus {
  color: var(--color-text-accent);
  text-decoration: none;
  cursor: pointer;
}

.material-icons {
  font-size: 2rem;
  padding: 0.2rem;
}

.material-icons--small {
  font-size: 1.4rem;
  padding: 0.1rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

::placeholder {
  color: var(--black3);
}

button,
input {
  font-family: var(--base-type-face);
  font-size: var(--font-size-body);
  background: transparent;
}

button {
  cursor: pointer;
}

input {
  color: var(--color-text-primary);
}

body:not(.dark-mode) .dark-mode-only,
.dark-mode .light-mode-only {
  display: none;
}

.dark-mode-toggle {
  border: none;
  background: none;
  cursor: pointer;
  color: var(--color-text-accent);
}

/* Start: Syntax Highlight Overrides */

:not(pre) > code[class*='language-'] {
  background-color: var(--black2) !important;
  color: var(--black9) !important;
  padding: 0 6px !important;
  text-decoration: none;
  text-shadow: none;
}

pre[class*='language-'],
code[class*='language-'] {
  color: var(--black2) !important;
  background: var(--black9) !important;
  margin-bottom: var(--space-24);
}

pre[class*='language-'] > code[class*='language-'] + h2 {
  margin-top: var(--space-40);
}

.token {
  &.punctuation,
  &.operator {
    color: var(--black2) !important;
  }

  &.function {
    color: var(--warning3) !important;
  }

  &.keyword {
    color: var(--info3) !important;
  }

  &.string {
    color: var(--brand3) !important;
  }

  &.number {
    color: var(--purple3) !important;
  }
}

/* End: Syntax Highlight Overrides */

select {
  appearance: none;
  padding: 0.4rem 2.4rem 0.4rem 0.8rem;
  font-size: var(--font-size-body1);
  line-height: var(--line-height-body1);
  color: var(--black8);
  box-shadow: 0px 2px 2px rgba(215, 216, 223, 0.3);
  background: white;
  border: 1px solid var(--black3);
  border-radius: 0.2rem;
  box-sizing: border-box;
  cursor: pointer;
  background-image: url(data:image/svg+xml;utf8;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iMTEiIHZpZXdCb3g9IjAgMCAxMSAxMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik01LjMzMzQgOC42MzMwOEwxLjA5MDc2IDQuMzkwNDRMMC4xNDc5NDkgNS4zMzMyNUw0Ljg2MTk5IDEwLjA0NzNDNS4xMjIzNCAxMC4zMDc2IDUuNTQ0NDUgMTAuMzA3NiA1LjgwNDggMTAuMDQ3M0wxMC41MTg4IDUuMzMzMjVMOS41NzYwNCA0LjM5MDQ0TDUuMzMzNCA4LjYzMzA4WiIgZmlsbD0iIzUxNTU2NSIvPgo8L3N2Zz4K);
  background-repeat: no-repeat;
  background-position: top 0.8rem right 0.8rem;
  transition: border-color 0.28s;

  &:hover,
  &:active {
    border-color: var(--black5);
  }
}

main {
  display: grid;
  grid-template-columns: 28.8rem auto;
}

:focus {
  outline: var(--brand3) dotted 2px;
}

[data-is-focused='true'] {
  outline: none;
}

.nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  background: var(--color-fill-app);
  border-bottom: var(--space-01) solid var(--black2);
  height: var(--nav-height);
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}

.dark-mode .nav {
  border: none;
}

.nav__logo {
  height: var(--space-32);
  margin-left: var(--space-24);
}

.nav__tabs__container {
  margin-left: 120px;
  list-style: none;
  display: flex;
  align-items: center;
  max-width: 352px;
  justify-content: space-between;
  width: 100%;
}

.nav .right-container {
  display: flex;
  padding-right: var(--space-24);
  list-style: none;
}

.nav__tabs {
  text-decoration: none;
  margin-left: var(--space-16);

  > a {
    text-decoration: none;
    color: var(--color-text-primary);
    padding: var(--space-24) var(--space-16) calc(var(--space-24) - 2px)
      var(--space-16);
  }
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;

  .footer__left {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    height: 100%;
  }

  .footer__right {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    height: 100%;
    margin-right: 20px;
  }

  .footer__left > li,
  .footer__right > li {
    font-size: 12px;
    margin-right: 32px;
    height: 24px;
  }

  .footer__left {
    li a {
      color: var(--color-text-primary);

      &:hover {
        color: var(--color-brand-primary);
      }
    }

    > li:first-of-type {
      padding-right: 12px;
      padding-top: 0;
      margin-right: 12px;
      border-right: 1px solid var(--black5);
    }
  }

  .footer__link {
    text-decoration: none;
  }
}

/* Start: Article Reader HTML Reset */

.article-reader {
  max-width: 768px;
  padding-left: 4.2rem;
  padding-top: var(--space-80);
  width: calc(100% - 36rem);

  hr {
    border: none;
    border-bottom: 0.4rem solid var(--black2);
  }
}

/* sr-only for desktop */

.article-reader__headline {
  padding: 0;
}

.hero h1 {
  cursor: pointer;
}

.article-reader blockquote {
  border-left: 3px solid var(--black4);
  color: var(--color-text-primary);
  font-style: italic;
  font-weight: 200;
  letter-spacing: 1px;
  margin: 0 0 2.8rem 0;
  padding: 1.8rem 0 1.8rem 3.2rem;

  p {
    margin: 0;
    padding: 0;
  }
}

/* End: Article Reader HTML Reset */

/* TOC */

details {
  cursor: pointer;
}

.toc {
  cursor: pointer;

  h6 {
    display: inline-block;
    margin: 0;
  }

  a {
    font-family: var(--sans-serif);
    text-decoration: underline;
    text-decoration-color: var(--black4);
    transition: all ease-out 0.2s;

    &:hover {
      color: var(--brand-light);
      text-decoration: none;
    }
  }

  li p {
    margin: 0;
  }
}

/* 3rd Party plugin styles. */
/* Styles for gatsby-remark-autolink-headers plugin*/

.autolink-headers {
  position: absolute;
  left: -4px;
  fill: var(--warning3);
}

/* IntersectionObserver related styles */
/* Sentinels - waypoints for figuring out scroll position */

.sticky-sentinel {
  position: absolute;
  left: 0;
  right: 0;
}

.sticky-sentinel--top {
  height: 40px;
  top: -24px;
}

.sticky-sentinel--bottom {
  height: 40px;
  bottom: 0;
}
