.side-nav,
%side-nav {
  background-color: var(--color-fill-side-nav);
  box-sizing: border-box;
  /* Needed since overflow: none will disable position: sticky on children */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  height: calc(100vh - var(--nav-height));
  max-width: 36rem;
  overflow: auto;
  overflow-x: hidden;
  padding: 0 var(--space-20);
  position: sticky;
  top: var(--nav-height);
  width: 100%;
  z-index: 998;

  &__title {
    align-items: center;
    background-color: var(--color-fill-side-nav);
    box-shadow: 0 25px 20px var(--color-fill-side-nav);
    color: var(--color-text-primary);
    display: flex;
    font-weight: 600;
    margin: 0 0 calc(var(--space-20) - (var(--space-12) / 2)) 0;
    padding: var(--space-20) 0 0;
    position: sticky;
    top: 0;
    z-index: 999;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;

    &:first-of-type {
      margin-top: var(--space-40);
    }
  }

  &__item {
    align-items: center;
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--color-text-secondary);
    cursor: pointer;
    display: block;
    list-style: none;
    margin: 0 0 0 var(--space-24);
    padding: calc(var(--space-12) / 2) 0 calc(var(--space-24) / 2)
      var(--space-08);
    position: relative;
    text-decoration: none;

    &:last-of-type::after {
      display: none;
    }

    &::before {
      background-size: 2.4rem;
      border-radius: 50%;
      box-shadow: inset 0 0 0 3px var(--color-border-primary);
      box-sizing: border-box;
      color: white;
      content: ' ';
      display: block;
      height: 2.4rem;
      left: -2.4rem;
      overflow: hidden;
      padding: 3px 5px;
      position: absolute;
      top: 0.6rem;
      transition: box-shadow 0.28s;
      width: 2.4rem;
    }

    &--done::before {
      content: '\e876';
      font-family: 'Material Icons', sans-serif;
    }

    &--active {
      color: var(--color-text-accent);
      font-weight: 600;
    }

    &--title {
      color: var(--color-text-primary);
      display: flex;
      flex-direction: row;
      font-weight: 600;
      justify-content: space-between;
      margin: var(--space-24) 0 var(--space-16) var(--space-24);

      i {
        padding: 0;
      }
    }

    &--done::before,
    &--active::before {
      box-shadow: inset 0 0 0 2.4rem var(--color-border-accent);
    }

    &:hover::before {
      box-shadow: inset 0 0 0 2.4rem var(--color-border-accent);
    }

    &--title::before,
    &--title:hover::before {
      box-shadow: inset 0 0 0 3px var(--color-text-primary);
    }

    &::after {
      background: var(--color-border-primary);
      content: ' ';
      display: block;
      height: calc(100% - 1.2rem - 12px);
      left: calc(-1.2rem - 1px);
      position: absolute;
      top: calc(2.4rem + 6px);
      width: 2px;
    }

    &--done::after {
      background: var(--color-border-accent);
    }

    &--title::after {
      background: transparent;
    }
  }

  &__open {
    background: var(--color-text-primary);
    background-clip: content-box;
    border: none;
    color: var(--color-text-primary);
    display: none;
    font-weight: 200;
    height: calc(24px + 3px);
    line-height: 0;
    margin-left: -0.8rem;
    outline: none;
    overflow: visible;
    padding: 12px 0;
    position: sticky;
    text-indent: 3.2rem;
    top: 0.8rem;
    transition: color 0.28s, background-color 0.28s;
    user-select: none;
    width: 20px;
    z-index: 9999;

    &::before {
      background-color: var(--color-text-primary);
      content: '';
      height: 3px;
      left: 0;
      position: absolute;
      top: calc(50% - 1.5px);
      transform: translateY(-250%);
      transition: transform 0.28s;
      width: 100%;
    }

    &::after {
      background-color: var(--color-text-primary);
      content: '';
      height: 3px;
      left: 0;
      position: absolute;
      top: calc(50% - 1.5px);
      transform: translateY(250%);
      transition: transform 0.28s;
      width: 100%;
    }
  }

  &--open &__open {
    background-color: transparent;
    color: transparent;
    margin-bottom: -35px;
    margin-top: 16px;
    top: calc(var(--nav-height) + 1.6rem);

    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }
  }

  @media (max-width: 800px) {
    & {
      height: auto;
      left: 0;
      max-height: 42px;
      max-width: unset;
      overflow: hidden;
      position: fixed;
      right: 0;
      top: calc(var(--nav-height) * 2);

      &--open {
        height: auto;
        max-height: calc(100% - var(--nav-height));
        overflow: visible;
        overflow-y: scroll;
        padding-bottom: var(--space-20);
        position: fixed;
        top: var(--nav-height);
      }

      > :last-child {
        padding-bottom: 2.4rem;
      }

      &::before {
        background-color: var(--color-fill-side-nav);
        content: '';
        height: 60px;
        margin-bottom: -92px;
        position: fixed;
        top: var(--nav-height);
        width: 110%;
        z-index: 100;
      }
    }

    &__open {
      display: unset;
    }

    &__list {
      height: 0;
      overflow: hidden;
      top: 24px;

      .side-nav--open & {
        height: auto;
        overflow: visible;
      }
    }

    &__title {
      margin: 2.4rem 0 3.2rem;
      padding-left: 3.2rem;
      top: calc(var(--nav-height));
    }
  }
}
