.side-nav {
  /* Needed since overflow: none will disable position: sticky on children */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  background-color: var(--color-fill-side-nav);
  height: calc(100vh - var(--nav-height));
  overflow: auto;
  overflow-x: hidden;
  padding: 0 var(--space-20);
  position: sticky;
  top: var(--nav-height);
  width: 100%;
  max-width: 36rem;
  box-sizing: border-box;
  z-index: 998;
}

.side-nav__open {
  display: none;
}

.side-nav > :last-child {
  /* To allow side menu to scroll to bottom when not sticky */
  padding-bottom: 230px;
}

.side-nav__title {
  color: var(--color-text-primary);
  font-weight: 600;
  margin: 0 0 calc(var(--space-20) - (var(--space-12) / 2)) 0;
  display: flex;
  align-items: center;
  background-color: var(--color-fill-side-nav);
  padding: var(--space-20) 0 0;
  box-shadow: 0 25px 20px var(--color-fill-side-nav);
  margin: 0 0 2.4rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.side-nav__list {
  margin: 0;
  padding: 0;
  position: relative;
}

.side-nav__item {
  align-items: center;
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--color-text-primary);
  cursor: pointer;
  list-style: none;
  margin: 0 0 0 var(--space-24);
  padding: calc(var(--space-12) / 2) 0 calc(var(--space-12) / 2) var(--space-08);
  position: relative;
  color: var(--color-text-primary);
  text-decoration: none;
  display: block;

  &:last-of-type::after {
    display: none;
  }

  &::before {
    background-size: 2.4rem;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px var(--color-border-accent);
    box-sizing: border-box;
    content: ' ';
    display: block;
    height: 2.4rem;
    left: -2.4rem;
    padding: 2px 4px;
    position: absolute;
    top: 0.6rem;
    transition: box-shadow 0.28s;
    overflow: hidden;
    width: 2.4rem;
    line-height: 2.6rem;
  }

  &.side-nav__item--done::before {
    content: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTYuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCIgdmlld0JveD0iMCAwIDQ0OC44IDQ0OC44IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA0NDguOCA0NDguODsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8Zz4KCTxnIGlkPSJjaGVjayI+CgkJPHBvbHlnb24gcG9pbnRzPSIxNDIuOCwzMjMuODUgMzUuNywyMTYuNzUgMCwyNTIuNDUgMTQyLjgsMzk1LjI1IDQ0OC44LDg5LjI1IDQxMy4xLDUzLjU1ICAgIiBmaWxsPSIjZjVmNmY3Ii8+Cgk8L2c+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPC9zdmc+Cg==);
  }

  &.side-nav__item--active {
    color: var(--color-text-accent);
    font-weight: 600;
  }

  &.side-nav__item--done::before,
  &.side-nav__item--active::before {
    box-shadow: inset 0 0 0 2.4rem var(--color-border-accent);
  }

  &:hover::before {
    box-shadow: inset 0 0 0 2.4rem var(--color-border-accent) !important;
  }

  &::after {
    background: var(--color-border-accent);
    content: ' ';
    display: block;
    height: calc(100% - 1.2rem - 8px);
    left: calc(-1.2rem - 1px);
    position: absolute;
    top: calc(2.4rem + 4px);
    width: 2px;
  }
}

.side-nav__open {
  display: none;
  position: sticky;
  top: 1.8rem;
  margin-left: -0.8rem;
  width: 20px;
  height: calc(24px + 3px);
  padding: 12px 0;
  background: white;
  color: white;
  overflow: visible;
  border: none;
  text-indent: 3.2rem;
  line-height: 0;
  font-weight: 200;
  transition: color 0.28s, background-color 0.28s;
  outline: none;
  background-clip: content-box;
  z-index: 9999;

  &::before {
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    top: calc(50% - 1.5px);
    left: 0;
    transform: translateY(-250%);
    background-color: white;
    transition: transform 0.28s;
  }

  &::after {
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    top: calc(50% - 1.5px);
    left: 0;
    transform: translateY(-250%);
    background-color: white;
    transition: transform 0.28s;
    transform: translateY(250%);
  }
}

.side-nav.side-nav--open .side-nav__open {
  top: calc(var(--nav-height) + 1.8rem);
  margin-bottom: -35px;
  margin-top: 16px;
  color: transparent;
  background-color: transparent;

  &::before {
    transform: rotate(-45deg);
  }

  &::after {
    transform: rotate(45deg);
  }
}
