// Styled MDX/Markdown Elements within the `content/` folder

// used on content/about/branding.xx.md
.dark-bg {
  background-color: #090c15;
  border-radius: 10px;
  margin: -10px;
  padding: 10px;
}
