// Styled MDX/Markdown Elements within the `content/` folder

// used on content/about/resources.xx.md
.resources-logos {
  img {
    width: 100%;
  }

  td {
    padding: 20px;
  }
}

// used on content/about/resources.xx.md
.bg-white {
  background-color: #fff;
}

// used on content/about/resources.xx.md
.bg-node-gray {
  background-color: #333;
}
