@media (max-width: 1262px) and (min-width: 800px) {
  body {
    --banner-clip: polygon(0 0, 100% 0, 100% calc(100% - 52px), 0 100%);
  }

  .side-nav {
    margin-right: -36rem;

    &::after {
      background-color: var(--color-fill-side-nav);
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.33), 2px 0 3px rgba(0, 0, 0, 0.2);
      content: '';
      height: 100%;
      left: 0;
      pointer-events: none;
      position: fixed;
      top: 0;
      transform: translateX(-120%);
      transition: transform 0.28s;
      width: 392px;
      z-index: -1;
    }
  }

  .side-nav__title {
    padding-left: 2.4rem;
  }

  .side-nav.side-nav--open {
    overflow-y: auto;
    pointer-events: all;

    &::after {
      pointer-events: all;
      transform: none;
    }
  }

  .side-nav.side-nav--open .side-nav__list {
    pointer-events: all;
    transform: none;
  }

  .side-nav__open,
  .side-nav.side-nav--open .side-nav__open {
    display: none;
    margin-top: 0;
    pointer-events: all;
    top: 34px;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 0.5625rem;
  }

  body {
    --nav-height: 5.2rem;
    --banner-clip: polygon(
      0 0,
      100% 0,
      100% calc(100% - 52px),
      0 calc(100% - 32px)
    );
  }

  [data-browser='legacy'] .side-nav__title {
    background-position: 0 calc(-50vh + var(--magic-hero-number) - 32px);
  }

  /* Place top sentinels higher up on mobile */

  .sticky-sentinel--top {
    top: -92px;
  }
}
