@media (max-width: 1262px) and (min-width: 800px) {
  body {
    --banner-clip: polygon(0 0, 100% 0, 100% calc(100% - 52px), 0 100%);
  }

  .side-nav {
    margin-right: -36rem;

    &::after {
      background-color: var(--color-fill-side-nav);
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.33), 2px 0 3px rgba(0, 0, 0, 0.2);
      content: '';
      height: 100%;
      left: 0;
      pointer-events: none;
      position: fixed;
      top: 0;
      transform: translateX(-120%);
      transition: transform 0.28s;
      width: 392px;
      z-index: -1;
    }
  }

  .side-nav__title {
    padding-left: 2.4rem;
  }

  .side-nav.side-nav--open {
    overflow-y: auto;
    pointer-events: all;

    &::after {
      pointer-events: all;
      transform: none;
    }
  }

  .side-nav.side-nav--open .side-nav__list {
    pointer-events: all;
    transform: none;
  }

  .side-nav__open,
  .side-nav.side-nav--open .side-nav__open {
    display: none;
    margin-top: 0;
    pointer-events: all;
    top: 34px;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 0.5625rem;
  }

  body {
    --nav-height: 42px;
    --banner-clip: polygon(
      0 0,
      100% 0,
      100% calc(100% - 52px),
      0 calc(100% - 32px)
    );
  }

  main {
    display: flex;
    flex-flow: column;
  }

  thead {
    tr {
      th {
        padding: var(--space-14) var(--space-12) var(--space-14);
      }
    }
  }

  tbody {
    tr {
      td {
        padding: var(--space-14) var(--space-12) var(--space-14);
      }
    }
  }

  .article-reader {
    padding: 0 3rem;
  }

  .nav__container {
    align-items: start;
    flex-flow: wrap;
    min-height: calc(1 * var(--nav-height));
    padding: 0 var(--space-12);
  }

  .logo {
    align-items: center;
    display: flex;
    height: var(--nav-height);
  }

  .nav__logo {
    height: 2.4rem;
  }

  .nav .right-container {
    justify-content: center;
    padding: 0;
    width: 100%;

    .nav__tabs, .nav__tabs:first-child {
      height: 3em;
    }
  }

  .nav__tabs {
    display: flex;
    margin-left: 0;

    &__container {
      background: var(--color-fill-app);
      height: var(--nav-height);
      justify-content: center;
      order: 3;
      padding: 0;
      width: 100%;

      .nav__tabs > a {
        padding: var(--space-08);
      }
    }

    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }

  .language-switch {
    padding: 0;
  }

  .blog-grid-container {
    padding: 0 3rem;

    .blog-category-header {
      padding: 80px 0 0 20px;
    }

    .blog-items {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .blog-card {
      padding: 10px 20px;
    }
  }

  [data-browser='legacy'] .side-nav__title {
    background-position: 0 calc(-50vh + var(--magic-hero-number) - 32px);
  }

  .download-additional {
    &__header {
      align-items: center;
      flex-direction: column;
    }

    &__title {
      padding-bottom: var(--space-12);
    }
  }

  .download-releases__title {
    margin: 50px 0 20px 0 !important;
    text-align: center;
  }

  /* Place top sentinels higher up on mobile */
  .sticky-sentinel--top {
    top: -92px;
  }
}
