.not-found {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--space-48) 0 var(--space-48) 0;
  text-align: center;
  text-transform: uppercase;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
}
