.slider-checkbox {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slider-checkbox-selector {
  display: flex;
  justify-content: center;
}

.slider-checkbox-button {
  background: var(--black2);
  box-shadow: inset 1px -1px 1px rgba(0, 0, 0, 0.08),
    inset 0px 1px 2px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  width: 133px;
  height: 42px;
  border: none;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-body2);
  line-height: var(--line-height-body2);
  color: var(--black7);
}

.slider-checkbox-button.-active,
.slider-checkbox-button.-current.-active {
  background: var(--brand5);
  color: var(--black0);
  z-index: 99;
}

.slider-checkbox-button.-current {
  margin-left: -30px;
  box-shadow: inset 1px -1px 1px rgba(0, 0, 0, 0.08),
    inset 0px 1px 2px rgba(0, 0, 0, 0.08);
}

.slider-checkbox-button.-current:focus,
.slider-checkbox-button:focus {
  outline: none;
}

.release-description {
  margin-top: 10px;
  font-size: var(--font-size-body1);
  line-height: var(--line-height-body1);
  text-align: center;
}
