.list {
  display: flex;
  flex-wrap: wrap;
  margin: 5rem 0 2.5rem;
  padding-left: 0;
  text-transform: uppercase;

  li:first-of-type a {
    margin-left: 0 !important;
  }

  li {
    color: var(--color-text-secondary);
    display: flex;
    flex-wrap: wrap;
    font-size: 1.4rem;
    font-weight: normal;
    margin: 0.5rem 0.5rem 0.5rem 0;
    width: 100%;
  }
}
