.list {
  align-items: center;
  color: var(--black7);
  display: flex;
  flex-wrap: wrap;
  margin: 5rem 0 2.5rem;
  padding-left: 0;
  text-transform: uppercase;

  li {
    margin-top: var(--space-08);
  }

  li:first-of-type a {
    margin-left: 0 !important;
  }

  h5 {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.4rem;
    font-weight: normal;
    margin: 0.5rem 0.5rem 0.5rem 0;
    width: 100%;
  }
}
