.author-list {
  color: var(--color-text-secondary);
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  font-weight: normal;
  margin: 5rem 0 2.5rem;
  text-transform: uppercase;

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0.5rem 0.5rem 0.5rem 0;

      &:first-of-type a {
        margin-left: 0;
      }
    }
  }
}
