.node-demo-container {
  position: relative;

  @media (max-width: 870px) {
    display: none;
  }

  .node-demo {
    background: var(--black10);
    border-radius: var(--space-04);
    box-shadow: 5px 10px 50px rgba(0, 0, 0, 0.25);
    color: var(--black0);
    height: 450px;
    margin: 0 auto;
    margin-bottom: 240px;
    max-width: 832px;
    position: relative;
    width: 90vw;
    z-index: 2;
  }

  .leafs-front {
    animation: 'leafs-animation' 10s infinite alternate ease-in-out;
    position: absolute;
    right: -16px;
    top: 145px;
    z-index: -1;
  }

  .leafs-mid {
    animation: 'leafs-animation' 15s infinite alternate ease-in-out;
    position: absolute;
    right: 120px;
    top: -32px;
    z-index: -2;
  }

  .leafs-back {
    animation: 'leafs-animation' 18s infinite alternate ease-in-out;
    left: 300px;
    position: absolute;
    top: -48px;
    z-index: -3;
  }

  .dots {
    left: -30px;
    position: absolute;
    top: 270px;
    z-index: -4;
  }
}

.node-features {
  display: grid;
  grid-gap: 1.5rem;
  justify-content: center;
  margin: 0 auto 5em auto;

  @media (min-width: 870px) {
    grid-template-columns: repeat(3, 1fr);
  }

  &__feature {
    border-radius: var(--space-04);
    box-shadow: 5px 10px 50px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    max-width: 248px;
    outline: 0.25rem;
    outline-color: var(--brand7);
    outline-style: solid;
    padding: 1.5em 2.5em;
    position: relative;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    width: 90vw;

    &:hover {
      transform: translateY(-10px);
    }

    @media (max-width: 870px) {
      margin-top: 2em;
    }

    img {
      width: 65%;
    }
    .feature-icon {
      height: auto;
      min-width: 120px;
      opacity: 0.75;

      @media (max-width: 870px) {
        min-width: 60px;
      }
    }
  }
}
