.main-header {
  position: fixed;
  width: calc(100% - var(--space-40)*2);
  height: var(--nav-height);
  left: 0;
  top: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
  z-index: 100;
  background-color: var(--color-fill-app);
  box-shadow: 0 0 0.2em rgba(0,0,0,0.2);
	padding: 0 var(--space-40);

  .navigation {
    display: flex;
    align-items: center;
		height: 100%;

    .navigation-logo {
      height: var(--space-32);
    }

    .navigation-item {
      text-decoration: none;
      margin-left: var(--space-32);
      text-decoration: none;
      color: var(--color-text-primary);
    }
  }

  .panel {
    display: flex;
    align-items: center;
		height: 100%;


    .theme-toggler {
      border: none;
      background: none;
      cursor: pointer;
      color: var(--color-text-accent);
    }
  }
}
