.main-header {
  position: fixed;
  width: calc(100% - var(--space-40)*2);
  height: var(--nav-height);
  left: 0;
  top: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
  z-index: 100;
  background-color: var(--black0);
  box-shadow: 0 0 0.2em var(--black5);
	padding: 0 var(--space-40);

  .navigation {
    display: flex;
    align-items: center;
		height: 100%;

    .navigation-logo {
      display: block;
      height: var(--space-40);
    }

    .navigation-item {
      text-decoration: none;
      margin-left: var(--space-32);
      text-decoration: none;
      color: var(--black9);
    }
  }

  .panel {
    display: flex;
    align-items: center;
		height: 100%;
  }
}
