.nav {
  background: var(--gray0);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.33), 0 2px 3px rgba(0, 0, 0, 0.2);
  height: var(--nav-height);
  line-height: var(--nav-height);
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}

.ui-styles {
	@media (max-width: 380px) {
    padding: 0;
  }
  margin: 0 auto;
  padding: 0 4.8rem;
  display: flex;
  align-items: center;
  list-style: none;
}