.download-releases {
  width: 100%;
}

.download-releases__title {
  font-size: var(--font-size-display4);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-display4);
  margin: 126px 0 50px;
}

.lts__text {
  font-size: var(--font-size-display5);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-body1);
}
