.download-releases {
  width: 100%;

  .title {
    font-size: var(--font-size-display4);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-display4);
    margin: 126px 0 50px;

    @media (max-width: 900px) {
      margin: 50px 0 20px 0;
      text-align: center;
    }
  }
}
