.blog-grid-container {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  padding: var(--space-80) 0 0 var(--space-128);

  @media (max-width: 900px) {
    padding: 0 3rem;
  }

  .blog-category-header {
    padding-right: var(--space-24);

    @media (max-width: 900px) {
      padding: var(--space-48) var(--space-24) 0 var(--space-24);
    }

    h1 {
      margin: 0 0 var(--space-24) 0;
    }
  }

  .blog-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

    @media (max-width: 900px) {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  }
}
