.sandbox-section {
  position: relative;
  height: 100vh;
  .sandbox {
    width: 80%;
    height: var(--space-480);
    margin: 0 auto;
    background: var(--black9);
    border-radius: var(--space-04);
    box-shadow: 5px 10px 50px rgba(0, 0, 0, 0.25);
    color: var(--black0);
    z-index: 2;
    &:hover {
      + .leafs > img:nth-child(1n) {
        transform: translate(0, 0);
      }
    }
  }

  .leafs {
    width: 100%;
    height: calc(var(--space-480) * 1.2);
    position: absolute;
    top: calc(0rem - var(--space-40));
    z-index: -1;

    img {
      position: absolute;
      transition: 5s;

      &:nth-child(1) {
        width: 9%;
        height: 15%;
        left: 2%;
        top: 70%;
        transform: translate(10px, -15px);
      }
      &:nth-child(2) {
        width: 6%;
        height: 10%;
        left: 95%;
        top: 50%;
        transform: translate(-15px, 0);
      }
      &:nth-child(3) {
        width: 5%;
        height: 7%;
        left: 92%;
        top: 75%;
        transform: translate(-5px, -10px);
      }
      &:nth-child(4) {
        width: 4%;
        height: 6%;
        left: 25%;
        top: 89%;
        transform: translate(5px, -5px);
      }
      &:nth-child(5) {
        width: 4%;
        height: 5%;
        left: 30%;
        top: 1%;
        transform: translate(2px, 5px);
      }
      &:nth-child(6) {
        width: 5%;
        height: 8%;
        left: 95%;
        top: 0%;
        transform: translate(-10px, 15px);
      }
      &:nth-child(7) {
        width: 3%;
        height: 5%;
        left: 60%;
        top: 91%;
        transform: translate(-10px, -15px);
      }
      &:nth-child(8) {
        width: 6%;
        height: 10%;
        left: 0%;
        top: 0%;
        transform: translate(10px, 15px);
      }
    }
  }

  .dots {
    position: absolute;
    top: 180px;
    left: -24px;
    z-index: -4;
  }
}
