.release-page-navigation {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  color: var(--black7);
  font-size: var(--font-size-overline);
  line-height: var(--line-height-overline);
  letter-spacing: var(--space-02);
  width: 100%;
}

.release-page-navigation-active {
  color: var(--brand4);
}

.release-page-navigation.-title {
  text-transform: capitalize;
  color: var(--black9);
  font-size: var(--font-size-display3);
  line-height: var(--line-height-display3);
}

.release-page-navigation-right-npm {
  text-transform: lowercase;
  width: 100%;
  text-align: right;
}

@media (max-width: 500px) {
  .release-page-navigation.-title {
    font-size: var(--font-size-display4);
    line-height: var(--line-height-display4);
  }
}
