.download-toogle {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
}

.download-toogle__selector {
  display: flex;
  justify-content: center;
}

.download-toogle__switch {
  border: none;
  height: 42px;
  padding: 0;
  width: 236px;
}

.download-toogle__button {
  background: var(--black2);
  border: none;
  border-radius: 32px;
  box-shadow: inset 1px -1px 1px rgba(0, 0, 0, 0.08),
    inset 0px 1px 2px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  color: var(--black7);
  display: inline-block;
  font-size: var(--font-size-body2);
  font-weight: var(--font-weight-bold);
  height: 42px;
  line-height: 40px;
  line-height: var(--line-height-body2);
  padding: 1px 6px;
  position: relative;
  width: 133px;
}

.download-toogle__button.-active,
.download-toogle__button.-current.-active {
  background: var(--brand5);
  color: var(--black0);
  z-index: 99;
}

.download-toogle__button.-current {
  box-shadow: inset 1px -1px 1px rgba(0, 0, 0, 0.08),
    inset 0px 1px 2px rgba(0, 0, 0, 0.08);
  margin-left: -30px;
}

.download-toogle__description {
  font-size: var(--font-size-body1);
  line-height: var(--line-height-body1);
  margin-top: 10px;
  text-align: center;
}
