.article {
  max-width: 768px;
  overflow-wrap: break-word;
  padding: var(--space-48) var(--space-32) var(--space-48) var(--space-32);
  width: calc(100vw - 36rem);

  .headline {
    margin: 0 0 var(--space-40) 0;
    padding: 0;

    @media (max-width: 600px) {
      font-size: var(--font-size-display3);
      line-height: 1.2;
      margin: var(--space-24) 0 var(--space-24) 0;
    }
  }

  @media (min-width: 1400px) {
    max-width: 980px;
    padding: var(--space-80) var(--space-32) var(--space-48) var(--space-128);
  }

  @media (max-width: 900px) {
    padding: var(--space-80) var(--space-32) var(--space-48) var(--space-32);
    width: auto;
  }

  @media (max-width: 600px) {
    box-sizing: border-box;
    max-width: 100vw;
    padding: var(--space-24) 3rem;
    width: 100%;
  }

  img {
    max-width: 100%;
  }

  hr {
    border: none;
    border-bottom: 0.4rem solid var(--black2);
    margin-bottom: var(--space-40);
  }

  blockquote {
    border-left: 3px solid var(--black4);
    color: var(--color-text-primary);
    font-style: italic;
    font-weight: var(--font-weight-light);
    letter-spacing: 1px;
    margin: 0 0 2.8rem 0;
    padding: 1.8rem 0 1.8rem 3.2rem;

    p {
      margin: 0;
      padding: 0;
    }
  }

  section {
    margin-bottom: var(--space-48);
  }

  h4 {
    margin-bottom: var(--space-16);
  }

  li {
    + h4 {
      margin-top: var(--space-32);
    }

    margin-bottom: var(--space-08);
  }

  h2 {
    scroll-margin-top: var(--space-128);
  }

  h3 {
    margin-bottom: var(--space-24);
    scroll-margin-top: var(--space-128);
  }

  details,
  iframe {
    margin-bottom: var(--space-24);
  }

  p + {
    h2 {
      margin-top: var(--space-40);
    }

    h3 {
      margin-top: var(--space-32);
    }
  }
}
