.upcoming-releases {
  &__item {
    
    &--to-be-released {
      opacity: 0.5;
    }

    &--current {
      grid-area: 1 / 1 / 2 / 1;
    }
    &--lts {
      grid-area: 1 / 2 / 2 / 2;
    }
    &--maintenance {
      grid-area: 1 / 3 / 2 / 3;
    }
    &--endoflife {
      grid-area: 1 / 4 / 2 / 4;
    }
  }
}

.release-title {
  font-weight: 600;
  margin: 0;
  margin-top: 10px;
}
.release-date {
  font-size: 12px;
  margin: 0;
}
