.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;

  @media (max-width: 800px) {
    flex-direction: column;
  }
}

.footer-links--left {
  @media (max-width: 800px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10rem;
    padding: 6px 19px;
  }
}

.footer-links--right {
  margin-right: 20px;
  @media (max-width: 800px) {
    margin: 0;
    padding: 6px 18px;
  }
}

.footer-links-item--left {
  &:first-of-type {
    padding-right: 12px;
    margin-right: 12px;
    border-right: 1px solid var(--black5);
  }

  @media (max-width: 800px) {
    margin-right: 0;
    padding: 6px 0;

    &:first-of-type {
      border-right: none;
      padding-right: 0;
      margin-right: 0;
    }
  }
}

.footer-links-item--right {
  @media (max-width: 800px) {
    margin-left: 18px;
    margin-right: 0;

    &:first-of-type {
      margin-left: 0;
      margin-right: auto;
    }
  }
}
