.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  margin-top: auto;

  .footer__left {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
    list-style: none;
  }

  .footer__right {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
    list-style: none;
    margin-right: 20px;
  }

  .footer__left > li,
  .footer__right > li {
    font-size: 12px;
    height: 24px;
    margin-right: 32px;
  }

  .footer__left {
    li a {
      color: var(--color-text-primary);

      &:hover {
        color: var(--color-brand-primary);
      }
    }

    > li:first-of-type {
      border-right: 1px solid var(--black5);
      margin-right: 12px;
      padding-right: 12px;
      padding-top: 0;
    }
  }

  .footer__link {
    text-decoration: none;
  }
}

@media (max-width: 800px) {
  .footer {
    flex-direction: column;

    .footer__left {
      align-items: center;
      flex-direction: column;
      height: 10rem;
      justify-content: center;
      > li:first-of-type {
        border-right: none;
        margin-right: 0;
        padding-right: 0;
      }
    }

    .footer__right {
      margin: 0;

      > li:first-of-type {
        margin-left: 0;
        margin-right: auto;
      }

      > li {
        margin-left: 18px;
      }
    }

    .footer__left,
    .footer__right {
      padding: 6px 18px;
    }

    .footer__left > li,
    .footer__right > li {
      margin-right: 0;
      padding: 6px 0;
    }
  }
}
