.features-section {
	height: 50vh;
  width: 100%;
  display: flex;
  justify-content: space-around;

  .item {
    max-width: var(--space-240);
    color: var(--color-text-secondary);

    img {
      width: 100%;
    }

    p {
      margin-top: var(--space-16);
    }
  }
}
