.stability {
  border-radius: 4px;
  color: #fff;
  line-height: 1.5;
  margin: 0 0 1rem;
  padding: 1rem;

  p {
    display: inline;
    margin: 0;
  }

  a {
    color: #fff;

    code {
      color: #fff !important;
    }
  }

  &__level-0 {
    background-color: var(--danger5);
  }

  &__level-1 {
    background-color: var(--warning4);
  }

  &__level-2 {
    background-color: var(--brand5);
  }

  &__level-3 {
    background-color: var(--info5);
  }
}
