.download-card__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0px;
  margin-block-end: 0px;
  margin-block-start: 0px;
  width: 100%;
  max-width: 615px;
  margin-top: 40px;
}

.download-card--active,
.download-card--inactive {
  background-color: var(--color-fill-app);
  border: 1px solid var(--color-border-secondary);
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 179px;
  height: 167px;
  box-sizing: border-box;
  box-shadow: 5px 10px 50px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.download-card--active {
  height: 197px;
  border-radius: 4px 4px 0px 0px;
  border-top: 4px solid var(--brand5);
}

.download-card__top {
  display: flex;
  justify-content: space-between;
}

.download-card__top--inactive {
  width: 48px;
  height: 48px;
}

.download-card__top--active {
  width: 56px;
  height: 56px;
}

.download-card__link {
  height: 24px;
  width: 24px;
  color: var(--black5);
  font-size: 24px;
}

.download-card__label--active {
  margin-top: 24px;
  font-weight: var(--font-weight-semibold);
}

.download-card__label--inactive {
  margin-top: 16px;
  font-weight: var(--font-weight-semibold);
}

.download-card__filename {
  font-weight: normal;
  font-size: var(--font-size-body3);
  line-height: 18px;
}

@media (max-width: 620px) {
  .download-card--inactive {
    padding: 8px;
    width: 130px;
    height: 137px;
  }

  .download-card--active {
    width: 130px;
    height: 167px;
  }

  .download-card__label--active {
    margin-top: 12px;
    font-size: var(--font-size-caption);
  }

  .download-card__label--inactive {
    margin-top: 16px;
    font-size: var(--font-size-caption);
  }

  .download-card__filename {
    font-size: var(--font-size-caption);
    line-height: 12px;
  }
}

@media (max-width: 460px) {
  .download-card__row {
    flex-direction: column;
    height: 500px;
    margin-top: 10px;
  }

  .download-card--inactive {
    width: 150px;
  }

  .download-card--active {
    width: 160px;
    height: 167px;
  }
}
