.download-cards {
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-block-end: 0px;
  margin-block-start: 0px;
  margin-top: 40px;
  max-width: 615px;
  padding: 0px;
  width: 100%;
}
