.main-section {
	height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  // padding: var(--space-128) 0;

  .title {
    max-width: 840px;
		margin-bottom: var(--space-32)
  }

  .sub-title {
    max-width: 780px;
    color: var(--color-text-secondary);
    margin: 0 0 var(--space-80) 0;
    font-weight: var(--font-weight-regular);
  }

  .buttons {
    display: flex;

    .download-actions {
      position: relative;
      margin-right: var(--space-32);

      .download-links {
        color: var(--color-text-secondary);
        margin: var(--space-08) 0 0 0;
      }
    }
  }

}
