.install {
  .react-tabs {
    -webkit-tap-highlight-color: transparent;

    &__tab-list {
      display: flex;
      margin: 0;
      padding: 0;
      text-align: center;
    }

    &__tab {
      background: var(--black11);
      border: 1px solid transparent;
      border-bottom: none;
      bottom: -1px;
      color: var(--black4);
      cursor: pointer;
      display: inline-block;
      list-style: none;
      padding: 10px 12px;
      position: relative;
      text-align: center;
      width: 100%;

      &--selected {
        background: var(--black10);
        border-radius: 5px 5px 0 0;
        color: #fff;
      }

      &:focus {
        border-bottom: none;
        border-color: var(--pink5);
        box-shadow: 0 0 5px var(--pink5);
        outline: none;

        &:after {
          background: var(--black10);
          bottom: -5px;
          content: '';
          height: 5px;
          left: 0;
          position: absolute;
          right: 0;
        }
      }
    }

    &__tab-panel {
      display: none;
      padding: 20px;

      &--selected {
        display: block;
      }
    }
  }
  &__header {
    font-weight: var(--font-weight-semibold);
    height: 30px;
    margin: 0 5px;
    &-circles {
      float: left;
      height: 100%;
    }
    &-grey-circle {
      background-color: var(--black8);
      border-radius: 50%;
      display: inline-block;
      height: 10px;
      margin: 10px 5px;
      width: 10px;
    }
    &-text {
      line-height: 30px;
      text-align: center;
      width: calc(100% - 60px);
    }
  }
  &__text {
    color: var(--pink5);
    &__line {
      margin: var(--space-12) 0;
    }
    &__no-select {
      margin-right: var(--space-12);
      user-select: none;
    }
  }
  &__docs-button,
  &__docs-button:hover {
    border: 1px solid var(--black3);
    border-radius: var(--space-04);
    bottom: 2rem;
    box-sizing: border-box;
    color: var(--black3);
    font-weight: var(--font-weight-semibold);
    height: 4rem;
    padding: var(--space-08) var(--space-16);
    position: absolute;
    right: 2rem;
    text-decoration: none;
  }
}
