name: Cleanup staging deploy

on:
  pull_request_target:
    types: [closed]

permissions:
  contents: read

jobs:
  cleanup-staging:
    runs-on: ubuntu-latest
    steps:
      - name: Git Checkout
        uses: actions/checkout@v3.2.0
        with:
          persist-credentials: false

      - name: Setup G Cloud
        uses: google-github-actions/setup-gcloud@v0
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          service_account_email: ${{ secrets.GCP_SA_EMAIL }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          export_default_credentials: true

      - name: Remove from G Cloud Storage
        run: gsutil -m rm -f gs://staging.nodejs.dev/${{ github.event.pull_request.number }}/** || true
